html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #9E303B;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 10px 5px #F6C2C6;
    text-align: center;
}
#navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px 300px;
    background-color:#EA9696;
    color: white;
    font-weight: bold;
    font-size: 20px;

}
#navbar img{
    width: 20px;
    height: 20px;
}
#container{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    gap: 10px;
}
#aside-1{
    display: flex;
    flex-direction: column;
    width: 15%;
}
.pink{
    padding: 5px 0 5px 10px;
    margin-bottom: 5px;
    background-color: #EA9696;
}
.round{
    border-radius: 15px;
}
.text{
    color: white;
    text-align: left;
}
#aside-1 img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 20px 10px 10px#F6C2C6;
}
#content{
    width: 60%;
    margin-left: 20px;
    padding-left: 5px;
}
.title{
    justify-self: center;
    width: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #EA9696;
    color:#9E303B;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    letter-spacing: 15px;
    margin-bottom: 10px;
}
.menu a{
    color: red;
}
table{
    width: 100%;
}
input[type=text], select{
  width: 100%;
  max-width: 425px;
  padding: 12px;
  margin: 8px 8px;
  border: 1px solid black;
  box-sizing: border-box;
}
input[type=radio]{
    accent-color: red;
}
table input[type=submit]{
  width: 70px;
  padding: 12px;
  margin: 8px 8px;
  border: 1px solid black;
  box-sizing: border-box;
}
textarea{
  padding: 12px;
  margin: 8px 8px;
  border: 1px solid black;
  box-sizing: border-box;
}
#aside-2{
    width: 25%;
    height: fit-content;
    background-color: black;
    color: white;
}
#aside-2 img{
    width: 100%;
}
.card{
    padding: 10px 20px 10px;
}
.card a{
    color:#EA9696;
}
#footer{
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: #EA9696;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
